<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564201031148-od9bm2rgusffp79s1b96ed207qrkaohm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564201031148-od9bm2rgusffp79s1b96ed207qrkaohm</string>
	<key>API_KEY</key>
	<string>AIzaSyAB3Na2owVUkJjSowjBCkAvda_1xzpNCXo</string>
	<key>GCM_SENDER_ID</key>
	<string>564201031148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quality.motors2</string>
	<key>PROJECT_ID</key>
	<string>qmotors-app</string>
	<key>STORAGE_BUCKET</key>
	<string>qmotors-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564201031148:ios:affa7a45268f587cde6cc9</string>
</dict>
</plist>